:root {
  --primary-color: #E90066;
  --secondary-color: #0A26EE;
  --background-color: #F8F8F8;
  --text-color: #070707;
  --celeste: #7FD1D9;
  --crema: #E5D4CE;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}