.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 75px;
  border: 1px, solid, red;
  border-radius: 15px;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}