.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--backgorund-color);
  color: var(--text-color);
  min-height: 90vh;
  padding: 20px;
}

.workersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--backgorund-color);
  padding: 20px;
  width: 100%;
}