.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: var(--backgorund-color);
  color: var(--text-color);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border: 1px solid var(--text-color);
  box-shadow: 0 0 10px var(--text-color);
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 15px
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 75%;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--text-color);
}

.divider::after {
  margin-left: 10px;
}

.divider::before {
  margin-right: 10px;
}

.button {
  width: 250px;
  &:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: 0.5s;
    box-shadow: 0 0 10px white;
  }
}

.input {
  width: 75%;
  min-width: 250px;

  &:focus {
    outline: none;
    border: 2px solid var(--primary-color);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.title {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}