.addService {
    text-align: center;
}

.addService button {
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.addService button:hover {
    opacity: 0.5;
}