.button {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:disabled:hover {
    background-color: var(--backgorund-color);
    color: var(--text-color);
  }

  &:disabled:active {
    transform: none;
  }

}