.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--backgorund-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  height: 10vh;
  box-shadow: 0 0 10px var(--text-color);

  @media (max-width: 425px) {
    padding: 10px;
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 425px) {
    width: 30%;
  }
}

.login {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 425px) {
    width: 60%;
    gap: 10px;
  }
}

button.signUp {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

button.signUp:hover .link,
button.signIn:hover .link {
  color: white;
}

button.signIn {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);

  &:hover {
    background-color: var(--secondary-color);
    color: white;
  }
}

button.signIn,
button.signUp {
  width: 200px;
  margin-top: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}