.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 650px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.closeButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: var(--primary-color);
  color: var(--background-color);
}

.image {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;

  &:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

/* CARROUSEL */

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imageWrapper {
  overflow: hidden;
  width: 600px;
  height: 400px;
  position: relative;
}

.navButton {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 1;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.navButton:focus {
  outline: none;
}

.navButton:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}

.navButton:first-of-type:before {
  border-right: 16px solid white;
}

.navButton:last-of-type:before {
  border-left: 16px solid white;
}